* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
}

// next.js 서 자동으로 삽입
// css tree 에서 제거
@layer base {
  #__next {
    display: contents;
  }
}
